@font-face {
    font-family: "Caveat";
    src: url("../../fonts/Caveat-Regular.ttf");
    font-style: italic;
}

@font-face {
    font-family: "LatoLight";
    src: url("../../fonts/Lato/Lato-Light.ttf");
}
@font-face {
    font-family: "LatoItalic";
    src: url("../../fonts/Lato/Lato-Italic.ttf");
}
